<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<!--외국어지원, 어린이 로그인등-->
<header>

</header>

<nav>
    <div class="navbar">
    <div class="log-area"><a href="#"><img src="https://www.gov.kr/2019/lib/image/img-gov-logo.png"  alt="gov24img" ></a></div>
        <ul>
            <li class="service"><a href="#">서비스</a></li>
            <li class="subsidy"><a href="#">보조금24</a></li>
            <li class="policyinfo"><a href="#">정책정보</a></li>
            <li class="agencyinfo"><a href="#">기관정보</a></li>
            <li class="serviceCenter"><a href="#">고객센터</a></li>
        </ul>
    </div>
</nav>

<!--슬라이드-->
<section>

</section>

<!--검색 및 추천 검색어-->
<section>

</section>


<footer>

</footer>


</body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:inline="javascript">//타임리프에서 선언된 값을 스크립트에서 쓸수있음 타임리프 변수쓰면 th: 아니면 그냥 javascript



</script>
</html>